.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_content {
  height: 100vh;
  background-color: #fb9961bd;
}

.carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.carousel_content__left {
  transition: top 0.5s;
  position: relative;
  height: 100%;
  background-color: #92fb61bd;
}

.carousel_content__right {
  transition: top 0.5s;
  position: relative;
  height: 100%;
  background-color: #61fba1bd;
}

.carousel_item {
  height: 100vh;
}

.carousel_item__left_1 {
  background-color: #9bc5adbd;
}

.carousel_item__left_2 {
  background-color: #b1bd13bd;
}

.carousel_item__left_2 {
  background-color: #42c1e0bd;
}

.carousel_item__right_1 {
  background-color: #ca5133bd;
}

.carousel_item__right_2 {
  background-color: #d127c3bd;
}

.carousel_item__right_2 {
  background-color: #26d6a1bd;
}

.app_container {
  position: absolute;
  min-height: 100vh;
  top: 0;
  height: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  transition: top 0.5s;
}

.app_container_inner {
  position: relative;
  transition: top 0.5s;
}

.main_window_container {
  width: 100%;
  height: 100vh;
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
}

.main_window_header {
  background-color: red;
}

.main_window_header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
}

.main_window_header__menu_item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main_window_header__menu_item:hover {
  background-color: rgba(255, 255, 255, 0.377);
  cursor: pointer;
}

.main_window_content {
  position: relative;
}

.main_window_content__inner_container {
  position: absolute;
  top: 4%;
  left: 2%;
  right: 2%;
  bottom: 4%;
  background-color: green;
}